/Testing/nbproject/private/
/ProjectEuler/#13_LargeSum/Solution/nbproject/private/
/ProjectEuler/#13_LargeSum/Solution/build/
/ProjectEuler/#9_SpecialPythagoreanTriplet/Solutoin/nbproject/private/
/ProjectEuler/#9_SpecialPythagoreanTriplet/Solution/nbproject/private/
/ProjectEuler/#9_SpecialPythagoreanTriplet/Solution/build/
/Algorithms/Sorting/Insertion Sort - Part 1/Solution/nbproject/private/
/Algorithms/Sorting/Insertion Sort - Part 1/Solution/build/
/Algorithms/Sorting/Insertion Sort - Part 2/Solution/nbproject/private/
/Algorithms/Sorting/Insertion Sort - Part 2/Solution/build/
/Algorithms/Sorting/Correctness and the Loop Invariant/Solution/nbproject/private/
/Algorithms/Sorting/Correctness and the Loop Invariant/Solution/build/
/Algorithms/Sorting/Running Time of Algorithms/Solution/nbproject/private/
/Algorithms/Sorting/Running Time of Algorithms/Solution/build/
/Algorithms/Sorting/Quicksort 1 - Partition/Solution/nbproject/private/
/Algorithms/Sorting/Quicksort 1 - Partition/Solution/build/
/Algorithms/Sorting/Quicksort 2 - Sorting/Solution/nbproject/private/
/Algorithms/Sorting/Quicksort 2 - Sorting/Solution/build/
/Algorithms/Sorting/Counting Sort 1/Solution/nbproject/private/
/Algorithms/Sorting/Counting Sort 1/Solution/build/
/Algorithms/Sorting/Counting Sort 2/Solution/nbproject/private/
/Algorithms/Sorting/Counting Sort 2/Solution/build/
/Algorithms/Sorting/Counting Sort 3/Solution/nbproject/private/
/Algorithms/Sorting/Counting Sort 3/Solution/build/